<% provide(:title, "Home") %>

<div class="center jumbotron" id="home_body">

  <h1 style="color: #fff">Welcome to Digitech's Apple shop</h1>
  <h2>In order to purchase items you need to sign up or log in if you already have an account.</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-default" %>
  <br><br>

  <div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= image_tag("iphone7.jpg", alt: "iPhone 7")%>
	      <div class="caption">
	        <h3>iPhone 7 </h3>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= image_tag("iphone6.jpg", alt: "iPhone 6")%>
	      <div class="caption">
	        <h3>iPhone 6 </h3>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= image_tag("iPhoneSE.jpg", alt: "iPhone SE")%>
	      <div class="caption">
	        <h3>iPhone SE </h3>
	      </div>
	    </div>
	  </div>
  </div>
</div>
