<% provide(:title, "Home") %>

<div class="center jumbotron" id="home_body">
  <h1>Welcome to Digitech's Apple shop</h1>
  <h2>In order to purchase items you need to sign up or log in if you already have an account.</h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-default" %>

  <nav class="navbar navbar-default">
  	Test
  </nav>

</div>
