<% provide(:title, "Iphone Products") %>

<div class="center jumbotron products-body">
	<h1 style="color: #777"><small>Select your desired product</small></h1>
	<div class="tabbable-panel">
		<div class="tabbable-line">
			<ul class="nav nav-tabs">
			    <li class="active"><a data-toggle="tab" href="#iphone7">iPhone 7</a></li>
			    <li><a data-toggle="tab" href="#iphone6">iPhone 6</a></li>
			    <li><a data-toggle="tab" href="#iphonese">iPhone SE</a></li>
			</ul>
			<div class="tab-content">
			    <div id="iphone7" class="tab-pane fade in active">
			      <div class="row">
			      	<div class="col-xs-6 col-md-4">
			      		<%= image_tag("iphone7-product.jpg", alt: "iPhone 7")%>
			      	</div>
			      	<div class="col-xs-12 col-sm-6 col-md-8">
			      	   <%= form_tag("/order_product", method: "post") %>
			      	</div>
			      </div>
			    </div>
			    <div id="iphone6" class="tab-pane fade">
			      <h3>iPhone 6</h3>
			      <p>Customize iPhone 6</p>
			    </div>
			    <div id="iphonese" class="tab-pane fade">
			      <h3>iPhone SE</h3>
			      <p>Customize iPhone SE</p>
			    </div>
			</div>
		</div>
	</div>  
</div>