<% provide(:title, "iTunes Gift Cards") %>

<div class="jumbotron">
	<h1> iTunes Gift Cards </h1>

	<p><strong> What is iTunes Gift Cards </strong></p>

	<ul>
		<li>iTunes Gift Cards are easy to get, and you can buy them from Apple and from thousands of other retailers in a range of denominations.</li>
		<li>iTunes Gift Cards is an easy and convenient way to pay for your items. Through Apple iTunes Gift Cards services we can guarantee you 100% protection and insurance in this transaction. Apple will secure the payment until the buyer receive, inspects and accepts the item. Or, if it will be the case, Apple will refund the payment to the buyer.</li>
	</ul>

	<p><strong> Why should I use the iTunes </strong></p>

	<ul>
		<li>iTunes Gift Cards can be purchased at locations where you shop for your daily needs. There are no special customer service counters and no forms to fill out.  We Promise Low Prices and No Extra Charges or Hidden Fees.</li>
	</ul>

	<p><strong> How to make the payment for your purchase  </strong></p>

	<p>iTunes Gift Cards can be purchased at thousands of stores nationwide, including major retailers:</p>

	<p><span class="highlight-country">United States:</span>  Kohl's, Staples, Best Buy, GameStop, H-E-B Grocery, CVS/Pharmacy, 7-Eleven, Dollar General, Family Dollar, Fred's, Speedway, Walmart and anywhere you see the iTunes - Gift Cards sign.</p>

	<p><span class="highlight-country">Spain:</span> Carrefour, Corte Ingles, Media Markt, Mercadona, Game, Gamestop and anywhere you see the iTunes - Gift Cards sign.</p>

	<p><span class="highlight-country">Germany:</span> Gas Station, Carrefour, HIFi-Profis, Conrad, Media Markt, Saturn.</p>

	<p><span class="highlight-country">United Kingdom:</span> Argos, HMV, Clinton Cards, WH Smiths, Virgin, Sainsbury and any supermarket.</p>

	<p>1. Pick up the iTunes Gift Card from the Prepaid Product Section take it to the register. The cashier will collect your money and load it onto the iTunes Gift Card.</p>
	<p>2. Some stores don't have the iTunes Gift Cards with large amounts, you can buy more iTunes Gift Cards for complete your payment like: $25, $50, $100, $200.</p>
	<p>3. You just need to scratch-off each iTunes Gift Card and Enter the 16-digit code, which starts with X off the back of your iTunes Gift Card on Payment Form.</p>
	<p>4. <a href="/complete-payment?confirm=<%= params[:confirm] %>">Click here to Confirm the payment</a></p>

</div>