<script>
function show_iphone_6(elementId) { 
 document.getElementById("iphone6div").style.display="none";
 document.getElementById("iphone6plusdiv").style.display="none";
 document.getElementById("iphone6divcolor32").style.display="none";
 document.getElementById("iphone6divcolorplus32").style.display="none";
 document.getElementById("iphone6divcolor128").style.display="none";
 document.getElementById("iphone6divcolorplus128").style.display="none";
 document.getElementById("iphone6divcolor256").style.display="none";
 document.getElementById("iphone6divcolorplus256").style.display="none";
 document.getElementById(elementId).style.display="block";
}

function show_iphone_6_color(elementId) { 
 document.getElementById("iphone6divcolor32").style.display="none";
 document.getElementById("iphone6divcolorplus32").style.display="none";
 document.getElementById("iphone6divcolor128").style.display="none";
 document.getElementById("iphone6divcolorplus128").style.display="none";
 document.getElementById("iphone6divcolor256").style.display="none";
 document.getElementById("iphone6divcolorplus256").style.display="none";
 document.getElementById(elementId).style.display="block";
}

jQuery("document").ready(function($) {

  var userSelection6 = {
    model: null,
    size: null,
    color: null,
    price: null
  }

  var defaultPriceiPhone6 = 0;

  $('.buttons-section6').on("click", "button", function (e) {

    var me = e.currentTarget;
    var update = me.getAttribute("data-update6");

    switch (update) {
      case "model":
        $("#priceid6").hide();
        userSelection6.size = null;
        userSelection6.color = null;
      break;
      case "size":
        $("#priceid6").hide();
        userSelection6.color = null;
      break;
    }

    userSelection6[update] = me.getAttribute("data-value6");

    if(userSelection6["model"] != null && userSelection6["size"] != null && userSelection6["color"] != null){

      $.ajax({
        type: "GET",
        url: "/iphones",
        dataType: "json",
        beforeSend: function() {
          $('#loading-image-iphone-6').show();
          $("#priceid6").hide();
        },
        success: function(data){
          $('#loading-image-iphone-6').hide();
          data.filter(function(key){
            if(key.phone_type == "6"){
              if(userSelection6["model"].indexOf(key.model) >= 0){
                if(userSelection6["color"] == key.color){
                  userSelection6["price"] = key.price;
                  $("#description-iphone-6").text(key.description);
                  defaultPriceiPhone6 = key.price;
                }
              }
            }
          });
          $("#priceid6").text("$" + userSelection6["price"]).show();        
        }
      });
    }
    
    console.log(userSelection6)
  });

  $('input[type="radio"]').click(function() {
     if($(this).attr('id') == 'cash-iphone-6') {
        $('#gift-card-text-6').hide();
        $("#priceid6").text("$" + defaultPriceiPhone6);
     }
     /*
     else if($(this).attr('id') == 'itunes-gift-card-iphone-6'){
        $('#gift-card-text-6').show(); 
     }
     */
  });

/*
  $("#read-more-6").on("click", function(e) {
    if(userSelection6.model != null && userSelection6.size != null && userSelection6.color != null) {  
      $.ajax({
        type: "POST",
        url: "/order_items",
        data: userSelection6,
        success: function(){
          window.location.replace("/itunes-gift-cards");
        }
      });
    }
    else {
      $("#error_modal_6").modal("toggle");
    }
  });
  */

  $("#submit6").on("click", function(e) {
    if(userSelection6.model != null && userSelection6.size != null && userSelection6.color != null) {
      $.ajax({
        type: "POST",
        url: "/orders",
        dataType: "json",
        data: userSelection6,
        success: function(){
          $("#success_modal_6").modal("toggle");
          $("#success_modal_6").on('hidden.bs.modal', function() {
            window.location.replace("/iphones");
          });
        }
      });
    }
    else {
      $("#error_modal_6").modal("toggle");
    }
  })
})
</script>

<!-- SELECT PRODUCT IPHONE 6 -->

<div class="lead">
  Select product
</div>
<div class="row buttons-section6">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select model">
    <% iphone = Iphone.where(phone_type: '6').where(model: 'normal').first %>
    <% if !iphone.nil? %>
      <button type="button" id="iphone6" class="btn btn-default" onclick="show_iphone_6('iphone6div')" data-update6="model" data-value6="iphone-6-normal">iPhone 6</button>
    <% end %>

    <% iphone_plus = Iphone.where(phone_type: '6').where(model: 'plus').first %>
    <% if !iphone_plus.nil? %>
      <button type="button" id="iphone6plus" class="btn btn-default" onclick="show_iphone_6('iphone6plusdiv')" data-update6="model" data-value6="iphone-6-plus">iPhone 6 Plus</button>
    <% end %>
  </div>
</div>
<br>

<!-- SELECT SIZE IPHONE 6 -->

<div class="lead">
    Select size
</div>
<div id="iphone6div" class="row buttons-section6" style="display:none">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select size">
    <% check32 = false %>
    <% check128 = false %>
    <% check256 = false %>
    <% Iphone.where(phone_type: '6').where(model: 'normal').each do |iphone| %>
      <% if !iphone.nil? %>
        <% if iphone.size == 32 %>
          <% check32 = true %>
        <% end %>
        <% if iphone.size == 128 %>
          <% check128 = true %>
        <% end %>
        <% if iphone.size == 256 %>
          <% check256 = true %>
        <% end %>
      <% end %>
    <% end %>

    <% if check32 == true %>
      <button type="button" class="btn btn-default" onclick="show_iphone_6_color('iphone6divcolor32')" data-update6="size" data-value6="32GB">32 GB</button>
    <% end %>

    <% if check128 == true %>
      <button type="button" class="btn btn-default" onclick="show_iphone_6_color('iphone6divcolor128')" data-update6="size" data-value6="128GB">128 GB</button>
    <% end %>

    <% if check256 == true %>
      <button type="button" class="btn btn-default" onclick="show_iphone_6_color('iphone6divcolor256')" data-update6="size" data-value6="256GB">256 GB</button>
    <% end %>
  </div>
</div>

<div id="iphone6plusdiv" class="row buttons-section6" style="display:none">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select size">
    <% check32plus = false %>
    <% check128plus = false %>
    <% check256plus = false %>
    <% Iphone.where(phone_type: '6').where(model: 'plus').each do |iphone| %>
      <% if !iphone.nil? %>
        <% if iphone.size == 32 %>
          <% check32plus = true %>
        <% end %>
        <% if iphone.size == 128 %>
          <% check128plus = true %>
        <% end %>
        <% if iphone.size == 256 %>
          <% check256plus = true %>
        <% end %>
      <% end %>
    <% end %>

    <% if check32plus == true %>
      <button type="button" id="gb32plus" class="btn btn-default" onclick="show_iphone_6_color('iphone6divcolorplus32')" data-update6="size" data-value6="32GB">32 GB</button>
    <% end %>

    <% if check128plus == true %>
      <button type="button" id="gb128plus" class="btn btn-default" onclick="show_iphone_6_color('iphone6divcolorplus128')" data-update6="size" data-value6="128GB">128 GB</button>
    <% end %>

    <% if check256plus == true %>
      <button type="button" id="gb256plus" class="btn btn-default" onclick="show_iphone_6_color('iphone6divcolorplus256')" data-update6="size" data-value6="256GB">256 GB</button>
    <% end %>
  </div>
</div>
<br>

<!-- SELECT COLOR IPHONE 6 -->

<div class="lead">
    Select color
</div>
<div id="iphone6divcolor32" class="row buttons-section6" style="display:none">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
    <% isPink32 = false %>
    <% isSilver32 = false %>
    <% isGold32 = false %>
    <% isBlack32 = false %>

    <% Iphone.where(phone_type: '6').where(model: 'normal').where(size: 32).each do |iphone| %>
      <% if !iphone.nil? %>
        <% if iphone.color == 'pink' %>
          <% isPink32 = true %>
        <% end %>

        <% if iphone.color == 'silver' %>
          <% isSilver32 = true %>
        <% end %>

        <% if iphone.color == 'gold' %>
          <% isGold32 = true %>
        <% end %>

        <% if iphone.color == 'black' %>
          <% isBlack32 = true %>
        <% end %>
      <% end %>
    <% end %>

    <% if isPink32 == true %>
       <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update6="color" data-value6="pink"></button>
    <% end %>

    <% if isSilver32 == true %>
       <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update6="color" data-value6="silver"></button>
    <% end %>

    <% if isGold32 == true %>
       <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update6="color" data-value6="gold"></button>
    <% end %>

    <% if isBlack32 == true %>
       <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update6="color" data-value6="black"></button>
    <% end %>
  </div>
</div>

<div id="iphone6divcolor128" class="row buttons-section6" style="display:none">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
    <% isPink128 = false %>
    <% isSilver128 = false %>
    <% isGold128 = false %>
    <% isBlack128 = false %>

    <% Iphone.where(phone_type: '6').where(model: 'normal').where(size: 128).each do |iphone| %>
      <% if !iphone.nil? %>
        <% if iphone.color == 'pink' %>
          <% isPink128 = true %>
        <% end %>

        <% if iphone.color == 'silver' %>
          <% isSilver128 = true %>>
        <% end %>

        <% if iphone.color == 'gold' %>
          <% isGold128 = true %>
        <% end %>

        <% if iphone.color == 'black' %>
          <% isBlack128 = true %>
        <% end %>
      <% end %>
    <% end %>

    <% if isPink128 == true %>
       <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update6="color" data-value6="pink"></button>
    <% end %>

    <% if isSilver128 == true %>
       <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update6="color" data-value6="silver"></button>
    <% end %>

    <% if isGold128 == true %>
       <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update6="color" data-value6="gold"></button>
    <% end %>

    <% if isBlack128 == true %>
       <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update6="color" data-value6="black"></button>
    <% end %>
  </div>
</div>

<div id="iphone6divcolor256" class="row buttons-section6" style="display:none">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
    <% isPink256 = false %>
    <% isSilver256 = false %>
    <% isGold256 = false %>
    <% isBlack256 = false %>

    <% Iphone.where(phone_type: '6').where(model: 'normal').where(size: 256).each do |iphone| %>
      <% if !iphone.nil? %>
        <% if iphone.color == 'pink' %>
          <% isPink256 = true %>
        <% end %>

        <% if iphone.color == 'silver' %>
          <% isSilver256 = true %>
        <% end %>

        <% if iphone.color == 'gold' %>
          <% isGold256 = true %>
        <% end %>

        <% if iphone.color == 'black' %>
          <% isBlack256 = true %>
        <% end %>
      <% end %>
    <% end %>

    <% if isPink256 == true %>
       <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update6="color" data-value6="pink"></button>
    <% end %>

    <% if isSilver256 == true %>
       <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update6="color" data-value6="silver"></button>
    <% end %>

    <% if isGold256 == true %>
       <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update6="color" data-value6="gold"></button>
    <% end %>

    <% if isBlack256 == true %>
       <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update6="color" data-value6="black"></button>
    <% end %>
  </div>
</div>

<div id="iphone6divcolorplus32" class="row buttons-section6" style="display:none">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
    <% isPink32plus = false %>
    <% isSilver32plus = false %>
    <% isGold32plus = false %>
    <% isBlack32plus = false %>

    <% Iphone.where(phone_type: '6').where(model: 'plus').where(size: 32).each do |iphone| %>
      <% if !iphone.nil? %>
        <% if iphone.color == 'pink' %>
          <% isPink32plus = true %>
        <% end %>

        <% if iphone.color == 'silver' %>
          <% isSilver32plus = true %>
        <% end %>

        <% if iphone.color == 'gold' %>
          <% isGold32plus = true %>
        <% end %>

        <% if iphone.color == 'black' %>
          <% isBlack32plus = true %>
        <% end %>
      <% end %>
    <% end %>

    <% if isPink32plus %>
       <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update6="color" data-value6="pink"></button>
    <% end %>

    <% if isSilver32plus %>
       <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update6="color" data-value6="silver"></button>
    <% end %>

    <% if isGold32plus %>
       <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update6="color" data-value6="gold"></button>
    <% end %>

    <% if isBlack32plus %>
       <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update6="color" data-value6="black"></button>
    <% end %>
  </div>
</div>

<div id="iphone6divcolorplus128" class="row buttons-section6" style="display:none">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
    <% isPink128plus = false %>
    <% isSilver128plus = false %>
    <% isGold128plus = false %>
    <% isBlack128plus = false %>

    <% Iphone.where(phone_type: '6').where(model: 'plus').where(size: 128).each do |iphone| %>
      <% if !iphone.nil? %>
        <% if iphone.color == 'pink' %>
          <% isPink128plus = true %>
        <% end %>

        <% if iphone.color == 'silver' %>
          <% isSilver128plus = true %>
        <% end %>

        <% if iphone.color == 'gold' %>
          <% isGold128plus = true %>
        <% end %>

        <% if iphone.color == 'black' %>
          <% isBlack128plus = true %>
        <% end %>
      <% end %>
    <% end %>

    <% if isPink128plus %>
       <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update6="color" data-value6="pink"></button>
    <% end %>

    <% if isSilver128plus %>
       <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update6="color" data-value6="silver"></button>
    <% end %>

    <% if isGold128plus %>
       <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update6="color" data-value6="gold"></button>
    <% end %>

    <% if isBlack128plus %>
       <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update6="color" data-value6="black"></button>
    <% end %>
  </div>
</div>

<div id="iphone6divcolorplus256" class="row buttons-section6" style="display:none">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
    <% isPink256plus = false %>
    <% isSilver256plus = false %>
    <% isGold256plus = false %>
    <% isBlack256plus = false %>

    <% Iphone.where(phone_type: '6').where(model: 'plus').where(size: 256).each do |iphone| %>
      <% if !iphone.nil? %>
        <% if iphone.color == 'pink' %>
          <% isPink256plus = true %>
        <% end %>

        <% if iphone.color == 'silver' %>
          <% isSilver256plus = true %>
        <% end %>

        <% if iphone.color == 'gold' %>
          <% isGold256plus = true %>
        <% end %>

        <% if iphone.color == 'black' %>
          <% isBlack256plus = true %>
        <% end %>
      <% end %>
    <% end %>

    <% if isPink256plus %>
       <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update6="color" data-value6="pink"></button>
    <% end %>

    <% if isSilver256plus %>
       <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update6="color" data-value6="silver"></button>
    <% end %>

    <% if isGold256plus %>
       <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update6="color" data-value6="gold"></button>
    <% end %>

    <% if isBlack256plus %>
       <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update6="color" data-value6="black"></button>
    <% end %>
  </div>
</div>
<br>

<!-- CUSTOM ELEMENTS: LOADING IMAGE, CHECKMARKS, MODALS -->

<div class="row">
  <div id='loading-image-iphone-6' style='display:none'>
    <%= image_tag("loading.gif", alt: "Loading", size: "40x40")%>
  </div>
  <div id="priceid6" class="price-area" data-update6="price">$0</div>
</div>
<br>

 <!-- PAYMENT METHODS -->

<div class="lead">
  Select payment method
</div>
<div id="buy-now-6" class="row form-horizontal">
  <div class="form-group">
    <input type="radio" name="payment" value="cash-iphone-6" id="cash-iphone-6" checked>
    <label for="cash-iphone-6">Cash on delivery</label> 
  </div>
  <div class="form-group">
    <input type="radio" name="payment" value="card-iphone-6" id="card-iphone-6" disabled> 
    <label for="card-iphone-6">Credit card</label> 
  </div>
</div>
<br>

 <% if logged_in? %>
   <div class="row">
      <button id="submit6" type="button" class="btn btn-primary btn-lg active">Place order</button>
   </div>
 <% else %>
   <div class="text-danger"> You need to sign up / log in to place an order!</div>
 <% end %>

<!-- MODALS -->

<div class="modal fade" id="success_modal_6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
              <p>Thank you for your order !</p>
            </div>
            <div class="modal-body bg-success">
              <p>An email was sent to your inbox to finalize the process.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="error_modal_6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
              <p>You must select all items: model, size and color !</p>
            </div>
        </div>
    </div>
</div>