<script>
function show(elementId) { 
 document.getElementById("iphone7div").style.display="none";
 document.getElementById("iphone7plusdiv").style.display="none";
 document.getElementById("iphone7divcolor32").style.display="none";
 document.getElementById("iphone7divcolorplus32").style.display="none";
 document.getElementById("iphone7divcolor128").style.display="none";
 document.getElementById("iphone7divcolorplus128").style.display="none";
 document.getElementById("iphone7divcolor256").style.display="none";
 document.getElementById("iphone7divcolorplus256").style.display="none";
 document.getElementById(elementId).style.display="block";
}

function show_color(elementId) { 
 document.getElementById("iphone7divcolor32").style.display="none";
 document.getElementById("iphone7divcolorplus32").style.display="none";
 document.getElementById("iphone7divcolor128").style.display="none";
 document.getElementById("iphone7divcolorplus128").style.display="none";
 document.getElementById("iphone7divcolor256").style.display="none";
 document.getElementById("iphone7divcolorplus256").style.display="none";
 document.getElementById(elementId).style.display="block";
}

jQuery("document").ready(function($) {

  var userSelection = {
    model: null,
    size: null,
    color: null,
    price: null
  }

  var defaultPrice = 0;
  $('.buttons-section').on("click", "button", function (e) {

    var me = e.currentTarget;
    var update = me.getAttribute("data-update");

    switch (update) {
      case "model":
        $("#priceid").hide();
        userSelection.size = null;
        userSelection.color = null;
      break;
      case "size":
        $("#priceid").hide();
        userSelection.color = null;
      break;
    }

    userSelection[update] = me.getAttribute("data-value");
    
    if(userSelection["model"] != null && userSelection["size"] != null && userSelection["color"] != null){
      
      $.ajax({
        type: "GET",
        url: "/iphones",
        dataType: "json",
        beforeSend: function() {
          $('#loading-image-iphone-7').show();
          $("#priceid").hide();
        },
        success: function(data){
          $('#loading-image-iphone-7').hide();
          data.filter(function(key){
            if(key.phone_type == "7"){
              if(userSelection["model"].indexOf(key.model) >= 0){
                if(userSelection["color"] == key.color){
                  userSelection["price"] = key.price;
                  $("#description-iphone-7").text(key.description);
                  defaultPrice = key.price;
                }
              }
            }
          });
          $("#priceid").text("$" + userSelection["price"]).show();          
        }
      });
    }
    console.log(userSelection)
  });

  $('input[type="radio"]').click(function() {
     if($(this).attr('id') == 'cash-iphone-7') {
        $('#gift-card-text-7').hide();
        $("#priceid").text("$" + defaultPrice);
     }
     /*
     else if($(this).attr('id') == 'itunes-gift-card-iphone-7'){
        $('#gift-card-text-7').show(); 
       
     } */
  });
/*
  $("#read-more-7").on("click", function(e) {
    if(userSelection.model != null && userSelection.size != null && userSelection.color != null) {  
      $.ajax({
        type: "POST",
        url: "/order_items",
        data: userSelection,
        success: function(){
          window.location.replace("/itunes-gift-cards");
        }
      });
    }
    else {
      $("#error_modal").modal("toggle");
    }
  });
  */

  $("#submit7").on("click", function(e) {
    if(userSelection.model != null && userSelection.size != null && userSelection.color != null) {  
      $.ajax({
        type: "POST",
        url: "/orders",
        dataType: "json",
        data: userSelection,
        success: function(){
          $("#success_modal").modal("toggle");
          $("#success_modal").on('hidden.bs.modal', function() {
            window.location.replace("/iphones");
          });
        }
      });
    }
    else {
      $("#error_modal").modal("toggle");
    }
  });
}); //document ready end
</script>

<!-- SELECT PRODUCT IPHONE 7 -->

  <div class="lead">
    Select product
  </div>
  <div class="row buttons-section">
    <div class="btn-group btn-group-lg" role="group" aria-label="Select model">
      <% iphone = Iphone.where(phone_type: '7').where(model: 'normal').first %>
      <% if !iphone.nil? %>
        <button type="button" id="iphone7" class="btn btn-default" onclick="show('iphone7div')" data-update="model" data-value="iphone-7-normal">iPhone 7</button>
      <% end %>

      <% iphone_plus = Iphone.where(phone_type: '7').where(model: 'plus').first %>
      <% if !iphone_plus.nil? %>
        <button type="button" id="iphone7plus" class="btn btn-default" onclick="show('iphone7plusdiv')" data-update="model" data-value="iphone-7-plus">iPhone 7 Plus</button>
      <% end %>
    </div>
  </div>
  <br>

  <!-- SELECT SIZE IPHONE 7 -->

  <div class="lead">
    Select size
  </div>
  <div id="iphone7div" class="row buttons-section" style="display:none">
    <div class="btn-group btn-group-lg" role="group" aria-label="Select size">
      <% check32 = false %>
      <% check128 = false %>
      <% check256 = false %>
      <% Iphone.where(phone_type: '7').where(model: 'normal').each do |iphone| %>
        <% if !iphone.nil? %>
          <% if iphone.size == 32 %>
            <% check32 = true %>
          <% end %>
          <% if iphone.size == 128 %>
            <% check128 = true %>
          <% end %>
          <% if iphone.size == 256 %>
            <% check256 = true %>
          <% end %>
        <% end %>
      <% end %>

      <% if check32 == true %>
        <button type="button" id="gb32" class="btn btn-default" onclick="show_color('iphone7divcolor32')" data-update="size" data-value="32GB">32 GB</button>
      <% end %>

      <% if check128 == true %>
        <button type="button" id="gb128" class="btn btn-default" onclick="show_color('iphone7divcolor128')" data-update="size" data-value="128GB">128 GB</button>
      <% end %>

      <% if check256 == true %>
        <button type="button" id="gb256" class="btn btn-default" onclick="show_color('iphone7divcolor256')" data-update="size" data-value="256GB">256 GB</button>
      <% end %>
    </div>
  </div>

  <div id="iphone7plusdiv" class="row buttons-section" style="display:none">
    <div class="btn-group btn-group-lg" role="group" aria-label="Select size">
      <% check32plus = false %>
      <% check128plus = false %>
      <% check256plus = false %>
      <% Iphone.where(phone_type: '7').where(model: 'plus').each do |iphone| %>
        <% if !iphone.nil? %>
          <% if iphone.size == 32 %>
            <% check32plus = true %>
          <% end %>
          <% if iphone.size == 128 %>
            <% check128plus = true %>
          <% end %>
          <% if iphone.size == 256 %>
            <% check256plus = true %>
          <% end %>
        <% end %>
      <% end %>

      <% if check32plus == true %>
        <button type="button" id="gb32plus" class="btn btn-default" onclick="show_color('iphone7divcolorplus32')" data-update="size" data-value="32GB">32 GB</button>
      <% end %>

      <% if check128plus == true %>
        <button type="button" id="gb128plus" class="btn btn-default" onclick="show_color('iphone7divcolorplus128')" data-update="size" data-value="128GB">128 GB</button>
      <% end %>

      <% if check256plus == true %>
        <button type="button" id="gb256plus" class="btn btn-default" onclick="show_color('iphone7divcolorplus256')" data-update="size" data-value="256GB">256 GB</button>
      <% end %>
    </div>
  </div>
  <br>

  <!-- SELECT COLOR IPHONE 7 -->

  <div class="lead">
    Select color
  </div>
  <div id="iphone7divcolor32" class="row buttons-section" style="display:none">
    <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
      <% isPink32 = false %>
      <% isSilver32 = false %>
      <% isGold32 = false %>
      <% isBlack32 = false %>

      <% Iphone.where(phone_type: '7').where(model: 'normal').where(size: 32).each do |iphone| %>
        <% if !iphone.nil? %>
          <% if iphone.color == 'pink' %>
            <% isPink32 = true %>
          <% end %>

          <% if iphone.color == 'silver' %>
            <% isSilver32 = true %>
          <% end %>

          <% if iphone.color == 'gold' %>
            <% isGold32 = true %>
          <% end %>

          <% if iphone.color == 'black' %>
            <% isBlack32 = true %>
          <% end %>
        <% end %>
      <% end %>

      <% if isPink32 == true %>
         <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update="color" data-value="pink"></button>
      <% end %>

      <% if isSilver32 == true %>
         <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update="color" data-value="silver"></button>
      <% end %>

      <% if isGold32 == true %>
         <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update="color" data-value="gold"></button>
      <% end %>

      <% if isBlack32 == true %>
         <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update="color" data-value="black"></button>
      <% end %>
    </div>
  </div>

  <div id="iphone7divcolor128" class="row buttons-section" style="display:none">
    <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
      <% isPink128 = false %>
      <% isSilver128 = false %>
      <% isGold128 = false %>
      <% isBlack128 = false %>

      <% Iphone.where(phone_type: '7').where(model: 'normal').where(size: 128).each do |iphone| %>
        <% if !iphone.nil? %>
          <% if iphone.color == 'pink' %>
            <% isPink128 = true %>
          <% end %>

          <% if iphone.color == 'silver' %>
            <% isSilver128 = true %>>
          <% end %>

          <% if iphone.color == 'gold' %>
            <% isGold128 = true %>
          <% end %>

          <% if iphone.color == 'black' %>
            <% isBlack128 = true %>
          <% end %>
        <% end %>
      <% end %>

      <% if isPink128 == true %>
         <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update="color" data-value="pink"></button>
      <% end %>

      <% if isSilver128 == true %>
         <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update="color" data-value="silver"></button>
      <% end %>

      <% if isGold128 == true %>
         <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update="color" data-value="gold"></button>
      <% end %>

      <% if isBlack128 == true %>
         <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update="color" data-value="black"></button>
      <% end %>
    </div>
  </div>

  <div id="iphone7divcolor256" class="row buttons-section" style="display:none">
    <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
      <% isPink256 = false %>
      <% isSilver256 = false %>
      <% isGold256 = false %>
      <% isBlack256 = false %>

      <% Iphone.where(phone_type: '7').where(model: 'normal').where(size: 256).each do |iphone| %>
        <% if !iphone.nil? %>
          <% if iphone.color == 'pink' %>
            <% isPink256 = true %>
          <% end %>

          <% if iphone.color == 'silver' %>
            <% isSilver256 = true %>
          <% end %>

          <% if iphone.color == 'gold' %>
            <% isGold256 = true %>
          <% end %>

          <% if iphone.color == 'black' %>
            <% isBlack256 = true %>
          <% end %>
        <% end %>
      <% end %>

      <% if isPink256 == true %>
         <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update="color" data-value="pink"></button>
      <% end %>

      <% if isSilver256 == true %>
         <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update="color" data-value="silver"></button>
      <% end %>

      <% if isGold256 == true %>
         <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update="color" data-value="gold"></button>
      <% end %>

      <% if isBlack256 == true %>
         <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update="color" data-value="black"></button>
      <% end %>
    </div>
  </div>

  <div id="iphone7divcolorplus32" class="row buttons-section" style="display:none">
    <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
      <% isPink32plus = false %>
      <% isSilver32plus = false %>
      <% isGold32plus = false %>
      <% isBlack32plus = false %>

      <% Iphone.where(phone_type: '7').where(model: 'plus').where(size: 32).each do |iphone| %>
        <% if !iphone.nil? %>
          <% if iphone.color == 'pink' %>
            <% isPink32plus = true %>
          <% end %>

          <% if iphone.color == 'silver' %>
            <% isSilver32plus = true %>
          <% end %>

          <% if iphone.color == 'gold' %>
            <% isGold32plus = true %>
          <% end %>

          <% if iphone.color == 'black' %>
            <% isBlack32plus = true %>
          <% end %>
        <% end %>
      <% end %>

      <% if isPink32plus %>
         <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update="color" data-value="pink"></button>
      <% end %>

      <% if isSilver32plus %>
         <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update="color" data-value="silver"></button>
      <% end %>

      <% if isGold32plus %>
         <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update="color" data-value="gold"></button>
      <% end %>

      <% if isBlack32plus %>
         <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update="color" data-value="black"></button>
      <% end %>
    </div>
  </div>

  <div id="iphone7divcolorplus128" class="row buttons-section" style="display:none">
    <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
      <% isPink128plus = false %>
      <% isSilver128plus = false %>
      <% isGold128plus = false %>
      <% isBlack128plus = false %>

      <% Iphone.where(phone_type: '7').where(model: 'plus').where(size: 128).each do |iphone| %>
        <% if !iphone.nil? %>
          <% if iphone.color == 'pink' %>
            <% isPink128plus = true %>
          <% end %>

          <% if iphone.color == 'silver' %>
            <% isSilver128plus = true %>
          <% end %>

          <% if iphone.color == 'gold' %>
            <% isGold128plus = true %>
          <% end %>

          <% if iphone.color == 'black' %>
            <% isBlack128plus = true %>
          <% end %>
        <% end %>
      <% end %>

      <% if isPink128plus %>
         <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update="color" data-value="pink"></button>
      <% end %>

      <% if isSilver128plus %>
         <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update="color" data-value="silver"></button>
      <% end %>

      <% if isGold128plus %>
         <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update="color" data-value="gold"></button>
      <% end %>

      <% if isBlack128plus %>
         <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update="color" data-value="black"></button>
      <% end %>
    </div>
  </div>

  <div id="iphone7divcolorplus256" class="row buttons-section" style="display:none">
    <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
      <% isPink256plus = false %>
      <% isSilver256plus = false %>
      <% isGold256plus = false %>
      <% isBlack256plus = false %>

      <% Iphone.where(phone_type: '7').where(model: 'plus').where(size: 256).each do |iphone| %>
        <% if !iphone.nil? %>
          <% if iphone.color == 'pink' %>
            <% isPink256plus = true %>
          <% end %>

          <% if iphone.color == 'silver' %>
            <% isSilver256plus = true %>
          <% end %>

          <% if iphone.color == 'gold' %>
            <% isGold256plus = true %>
          <% end %>

          <% if iphone.color == 'black' %>
            <% isBlack256plus = true %>
          <% end %>
        <% end %>
      <% end %>

      <% if isPink256plus %>
         <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-update="color" data-value="pink"></button>
      <% end %>

      <% if isSilver256plus %>
         <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-update="color" data-value="silver"></button>
      <% end %>

      <% if isGold256plus %>
         <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-update="color" data-value="gold"></button>
      <% end %>

      <% if isBlack256plus %>
         <button type="button" class="color-spacing iphone-color-black btn btn-default" data-update="color" data-value="black"></button>
      <% end %>
    </div>
  </div>
  <br>

  <!-- CUSTOM ELEMENTS: LOADING IMAGE, CHECKMARKS, MODALS -->

  <div class="row">
    <div id='loading-image-iphone-7' style='display:none'>
      <%= image_tag("loading.gif", alt: "Loading", size: "40x40")%>
    </div>
    <div id="priceid" class="price-area" data-update="price">$0</div>
  </div>
  <br>

  <!-- PAYMENT METHODS -->

<div class="lead">
  Select payment method
</div>
<div id="buy-now-7" class="row form-horizontal">
  <div class="form-group">
    <input type="radio" name="payment" value="cash-iphone-7" id="cash-iphone-7" checked>
    <label for="cash-iphone-7">Cash on delivery</label> 
  </div>
  <div class="form-group">
    <input type="radio" name="payment" value="card-iphone-7" id="card-iphone-7" disabled> 
    <label for="card-iphone-7">Credit card</label> 
  </div>
</div>
<br>

 <% if logged_in? %>
   <div class="row">
      <button id="submit7" type="button" class="btn btn-primary btn-lg active">Place order</button>
   </div>
 <% else %>
   <div class="text-danger"> You need to sign up / log in to place an order!</div>
 <% end %>

<!-- MODALS -->

<div class="modal fade" id="success_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
              <p>Thank you for your order !</p>
            </div>
            <div class="modal-body bg-success">
              <p>An email was sent to your inbox to finalize the process.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="error_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
              <p>You must select all items: model, size and color !</p>
            </div>
        </div>
    </div>
</div>