<script>
function show_iphone_SE_color(elementId) { 
  document.getElementById("iphoneSEdivcolor16").style.display="none";
  document.getElementById("iphoneSEdivcolor64").style.display="none";
  document.getElementById(elementId).style.display="block";
}

jQuery("document").ready(function($) {

  var userSelectionSE = {
    model: "SE",
    size: null,
    color: null,
    price: null
  }

  var defaultPriceiPhoneSE = 0;
  $('.buttons-sectionSE').on("click", "button", function (e) {

    var me = e.currentTarget;
    var update = me.getAttribute("data-updateSE");

    if(update == "size"){
      $("#priceidSE").hide();
      userSelectionSE.color = null;
    }

    userSelectionSE[update] = me.getAttribute("data-valueSE");

    if(userSelectionSE["size"] != null && userSelectionSE["color"] != null){
      $.ajax({
        type: "GET",
        url: "/iphones",
        dataType: "json",
        beforeSend: function() {
          $('#loading-image-iphone-SE').show();
          $("#priceidSE").hide();
        },
        success: function(data){
          $('#loading-image-iphone-SE').hide();
           data.filter(function(key){
            if(key.phone_type == "SE"){
              if(userSelectionSE["color"] == key.color){
                  userSelectionSE["price"] = key.price;
                  $("#description-iphone-SE").text(key.description);
                  defaultPriceiPhoneSE = key.price;
              }
            }
          });
          $("#priceidSE").text("$" + userSelectionSE["price"]).show(); 
        }
      });
    }
    
    console.log(userSelectionSE)
  });

  $('input[type="radio"]').click(function() {
     if($(this).attr('id') == 'cash-iphone-SE') {
        $('#gift-card-text-SE').hide();
        $("#priceidSE").text("$" + defaultPriceiPhoneSE);
     }
  });
/*
     else if($(this).attr('id') == 'itunes-gift-card-iphone-SE'){
        $('#gift-card-text-SE').show(); 
     }

  });

  $("#read-more-SE").on("click", function(e) {
    if(userSelectionSE.size != null && userSelectionSE.color != null) {  
      $.ajax({
        type: "POST",
        url: "/order_items",
        data: userSelectionSE,
        success: function(){
          window.location.replace("/itunes-gift-cards");
        }
      });
    }
    else {
      $("#error_modal_SE").modal("toggle");
    }
  });
  */

  $("#submitSE").on("click", function(e) {
    if(userSelectionSE.size != null && userSelectionSE.color != null) {
      $.ajax({
        type: "POST",
        url: "/orders",
        dataType: "json",
        data: userSelectionSE,
        success: function(){
          $("#success_modal_SE").modal("toggle");
          $("#success_modal_SE").on('hidden.bs.modal', function() {
            window.location.replace("/iphones");
          });
        }
      });
    }
    else {
      $("#error_modal_SE").modal("toggle");
    }
  })

  $("#signup_iphone_SE").on("click", function(e){
    window.location.replace("/signup");
  });
})

</script>

<!-- SELECT PRODUCT IPHONE SE -->

<div class="lead">
  Select product
</div>
<div id="iphoneSEdiv" class="row buttons-sectionSE">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select size">
    <% check16 = false %>
    <% check64 = false %>
    <% Iphone.where(phone_type: 'SE').each do |iphone| %>
      <% if !iphone.nil? %>
        <% if iphone.size == 16 %>
          <% check16= true %>
        <% end %>
        <% if iphone.size == 64 %>
          <% check64 = true %>
        <% end %>
      <% end %>
    <% end %>

    <% if check16 == true %>
      <button type="button" class="btn btn-default" onclick="show_iphone_SE_color('iphoneSEdivcolor16')" data-updateSE="size" data-valueSE="16GB">16 GB</button>
    <% end %>

    <% if check64 == true %>
      <button type="button" class="btn btn-default" onclick="show_iphone_SE_color('iphoneSEdivcolor64')" data-updateSE="size" data-valueSE="64GB">64 GB</button>
    <% end %>
  </div>
</div>
<br>

<!-- SELECT COLOR IPHONE SE -->

<div class="lead">
    Select color
</div>
<div id="iphoneSEdivcolor16" class="row buttons-sectionSE" style="display:none">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
    <% isPink16 = false %>
    <% isSilver16 = false %>
    <% isGold16 = false %>
    <% isBlack16 = false %>

    <% Iphone.where(phone_type: 'SE').where(size: 16).each do |iphone| %>
      <% if !iphone.nil? %>
        <% if iphone.color == 'pink' %>
          <% isPink16 = true %>
        <% end %>

        <% if iphone.color == 'silver' %>
          <% isSilver16 = true %>
        <% end %>

        <% if iphone.color == 'gold' %>
          <% isGold16 = true %>
        <% end %>

        <% if iphone.color == 'black' %>
          <% isBlack16 = true %>
        <% end %>
      <% end %>
    <% end %>

    <% if isPink16 == true %>
       <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-updateSE="color" data-valueSE="pink"></button>
    <% end %>

    <% if isSilver16 == true %>
       <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-updateSE="color" data-valueSE="silver"></button>
    <% end %>

    <% if isGold16 == true %>
       <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-updateSE="color" data-valueSE="gold"></button>
    <% end %>

    <% if isBlack16 == true %>
       <button type="button" class="color-spacing iphone-color-black btn btn-default" data-updateSE="color" data-valueSE="black"></button>
    <% end %>
  </div>
</div>

<div id="iphoneSEdivcolor64" class="row buttons-sectionSE" style="display:none">
  <div class="btn-group btn-group-lg" role="group" aria-label="Select color">
    <% isPink64 = false %>
    <% isSilver64 = false %>
    <% isGold64 = false %>
    <% isBlack64 = false %>

    <% Iphone.where(phone_type: 'SE').where(size: 64).each do |iphone| %>
      <% if !iphone.nil? %>
        <% if iphone.color == 'pink' %>
          <% isPink64 = true %>
        <% end %>

        <% if iphone.color == 'silver' %>
          <% isSilver64 = true %>>
        <% end %>

        <% if iphone.color == 'gold' %>
          <% isGold64 = true %>
        <% end %>

        <% if iphone.color == 'black' %>
          <% isBlack64 = true %>
        <% end %>
      <% end %>
    <% end %>

    <% if isPink64 == true %>
       <button type="button" class="color-spacing iphone-color-pink btn btn-default" data-updateSE="color" data-valueSE="pink"></button>
    <% end %>

    <% if isSilver64 == true %>
       <button type="button" class="color-spacing iphone-color-silver btn btn-default" data-updateSE="color" data-valueSE="silver"></button>
    <% end %>

    <% if isGold64 == true %>
       <button type="button" class="color-spacing iphone-color-gold btn btn-default" data-updateSE="color" data-valueSE="gold"></button>
    <% end %>

    <% if isBlack64 == true %>
       <button type="button" class="color-spacing iphone-color-black btn btn-default" data-updateSE="color" data-valueSE="black"></button>
    <% end %>
  </div>
</div>
<br>

<!-- CUSTOM ELEMENTS: LOADING IMAGE, CHECKMARKS, MODALS -->

<div class="row">
  <div id='loading-image-iphone-SE' style='display:none'>
    <%= image_tag("loading.gif", alt: "Loading", size: "40x40")%>
  </div>
  <div id="priceidSE" class="price-area" data-updateSE="price">$0</div>
</div>
<br>

<!-- PAYMENT METHODS -->

<div class="lead">
  Select payment method
</div>
<div id="buy-now-SE" class="row form-horizontal">
  <div class="form-group">
    <input type="radio" name="payment" value="cash-iphone-SE" id="cash-iphone-SE" checked>
    <label for="cash-iphone-SE">Cash on delivery</label> 
  </div>
  <div class="form-group">
    <input type="radio" name="payment" value="card-iphone-SE" id="card-iphone-SE" disabled> 
    <label for="card-iphone-SE">Credit card</label> 
  </div>
</div>
<br>

 <% if logged_in? %>
   <div class="row">
      <button id="submitSE" type="button" class="btn btn-primary btn-lg active">Place order</button>
   </div>
 <% else %>
   <button id="signup_iphone_SE" type="button" class="btn btn-primary btn-lg active">Place order</button>
 <% end %>

<!-- MODALS -->

<div class="modal fade" id="success_modal_SE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
              <p>Thank you for your order !</p>
            </div>
            <div class="modal-body bg-success">
              <p>An email was sent to your inbox to finalize the process.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="error_modal_SE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
              <p>You must select all items: model, size and color !</p>
            </div>
        </div>
    </div>
</div>