@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	padding-top: 30px;
}

.jumbotron p {
  font-size: 14px;
  font-weight: 50;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea !important;
  color: #777 !important;
}

#home_body {
  background-image: url(home_background.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 20px;
}

.products-body {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-top: 20px;
}

#signup_link a {
  color: #337ab7;
}

#signup_link a:hover {
  color: #fff;
}

.not-available {
  color: #e60000;
}

/* forms */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* footer */

footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #777;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.thumbnail-border-iphone {
  border-color: #b300b3;
  border-style: solid;
  border-width: 5px;
}

.thumbnail-border-iphone:hover {
  border-color: #ff66ff;
}

.thumbnail-border-mac {
  border-color: #00b300;
  border-style: solid;
  border-width: 5px;
}

.thumbnail-border-mac:hover {
  border-color: #66ff66;
}

.thumbnail-border-watch {
  border-color: #0047b3;
  border-style: solid;
  border-width: 5px;
}

.thumbnail-border-watch:hover {
  border-color: #66a3ff;
}

.line-separator{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #15191B, #f0f0f0, #15191B);
  background-image: -moz-linear-gradient(left, #15191B, #f0f0f0, #15191B);
  background-image: -ms-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
  background-image: -o-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b); 
}

/* TABS */

.tabbable-panel {
  border:1px solid #e6e6e6;
  padding: 10px;
  background-color: #e6e6e6;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #ff66ff;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #b300b3;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #b300b3;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.color-spacing {
  margin: 5px;
}

.iphone-color-silver {
  width: 40px;
  height: 40px;
  background-color: #C3C3C3
}

.iphone-color-pink {
  width: 40px;
  height: 40px;
  background-color: #e1b6af
}

.iphone-color-gold {
  width: 40px;
  height: 40px;
  background-color: #DECEBD
}

.iphone-color-black {
  width: 40px;
  height: 40px;
  background-color: #000
}

.price-area {
  color:#ff0000;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-size:20px;
  }

.price-area-mac {
  color:#ff0000;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-size:40px;
}

.checkmark-positive {
  color: #00e600;
  font-size: 20px;
}

.checkmark-negative {
  color: #e60000;
  font-size: 20px;
}