<footer class="footer">
  <nav class="nav navbar-nav navbar-right">
    <div class="dropup">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Select country
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
	    <li><a href="/home">United States</a></li>
	    <li class="disabled"><a href="#">United Kingdom</a></li>
	    <li class="disabled"><a href="#">Spain</a></li>
	    <li class="disabled"><a href="#">Germany</a></li>
	  </ul>
	</div>
  </nav>
</footer>